<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- De esta forma introduzco los valores pero Spring los settea
	  <bean id="grupo" class="com.accenture.ioc.Grupo">
		<property name="id" value="100" />
		<property name="nombre" value="The Cure" />
		<property name="creacion" value="1976" />
		<property name="origen" value="Reino Unido" />
		<property name="genero" value="Rock" />
	</bean> -->
<bean id="grupo" class="com.accenture.ioc.Grupo" />
	
</beans>